[submodule "BogusApp-Common-Models"]
	path = Common/BogusApp-Common-Models
	url = https://github.com/mariusjcb/BogusApp-Common-Models.git
[submodules "BogusApp-Common-MockDataProvider"]
        path = Common/BogusApp-Common-MockDataProvider
        url = https://github.com/mariusjcb/BogusApp-Common-MockDataProvider.git
[submodule "BogusApp-Microservices-ApiGateway"]
	path = Microservices/BogusApp-Microservices-ApiGateway
	url = https://github.com/mariusjcb/BogusApp-Microservices-ApiGateway.git
[submodule "BogusApp-Microservices-Benefits"]
	path = Microservices/BogusApp-Microservices-Benefits
	url = https://github.com/mariusjcb/BogusApp-Microservices-Benefits.git
[submodule "BogusApp-Microservices-Channels"]
	path = Microservices/BogusApp-Microservices-Channels
	url = https://github.com/mariusjcb/BogusApp-Microservices-Channels.git
[submodule "BogusApp-Microservices-Fees"]
	path = Microservices/BogusApp-Microservices-Fees
	url = https://github.com/mariusjcb/BogusApp-Microservices-Fees.git
[submodule "BogusApp-Microservices-TargetSpecifics"]
	path = Microservices/BogusApp-Microservices-TargetSpecifics
	url = https://github.com/mariusjcb/BogusApp-Microservices-TargetSpecifics.git
[submodule "Common/BogusApp-Common-MockDataProvider"]
	path = Common/BogusApp-Common-MockDataProvider
	url = https://github.com/mariusjcb/BogusApp-Common-MockDataProvider.git
[submodule "BogusApp-iOS"]
	path = BogusApp-iOS
	url = https://github.com/mariusjcb/BogusApp-iOS.git
[submodule "Features/BogusApp-Features-TargetsList"]
	path = Features/BogusApp-Features-TargetsList
	url = https://github.com/mariusjcb/BogusApp-Features-TargetsList.git
[submodule "Common/BogusApp-Common-Utils"]
	path = Common/BogusApp-Common-Utils
	url = https://github.com/mariusjcb/BogusApp-Common-Utils.git
[submodule "Common/BogusApp-Common-Networking"]
	path = Common/BogusApp-Common-Networking
	url = https://github.com/mariusjcb/BogusApp-Common-Networking.git
[submodule "Features/BogusApp-Features-ChannelsList"]
	path = Features/BogusApp-Features-ChannelsList
	url = https://github.com/mariusjcb/BogusApp-Features-ChannelsList.git
